{% extends 'layout.html' %}
{% block title %}인증 코드 확인{% endblock title %}
{% block contents %}
<div class="container">
    <h2>인증 코드 입력</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="auth_code"></label>
            <input type="text" name="auth_code" class="form-control" required>
        </div>
        <div class="mt-3">
        <input type="hidden" name="username" value="{{ request.session.user_reset }}">
        <button type="submit" class="btn btn-primary">인증 코드 확인</button>
        </div>
    </form>
</div>
{% endblock %}
